*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    padding: 100px 0px ;
    background:linear-gradient(rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0.479)),url(../assets/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
