.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background:linear-gradient(#0066ffb7,#0066ffb7),url(../assets/subscribebackground.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; 
}
.footerBotton{
    background-color: transparent;
    color: black!important;
}

